<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>icamp</title>
    <link href="iblog.css" type="text/css" rel="stylesheet" >
</head>
<body>
  <section class="row1">
    <div  id="header">
      <h1 style="font-weight: 700;">
        <a>INNOCAMP
          <sub>
            <span style="font-size: 1rem;font-weight: 400;">by</span><span style="font-size: 1.2rem;">&nbsp;
            <span style="background: black;color: white;padding: 0.2rem;">INNOVA</span>
            <span style="padding: 0.1rem;">SKILLS</span>
          </sub>
        </a>
      </h1>
    </div>
    <div>
      <hr>
      <marquee>INNOCAMP IS A GROUP OF ASPIRING ENGINEERS WHO BELIEVE IN SHARING KNOWLEDGE FOR THE BENEFIT OF
      EVERYONE SEEKING TO LEARN. OUR MAIN THRUST IS TO RESEARCH AND DOCUMENT INFORMATION REGARDING VARIOUS SUGGESTED TOPICS OF
      INTEREST. THIS IS THEN SHARED IN THE FORM OF INFORMAL PRESENTATIONS OR HANDS-ON TUTORIALS. ON THIS SITE, YOU WILL FIND EVERYTHING
      WE'VE ACCUMULATED SO FAR.</marquee>
      <hr>
    </div>
  </section>
  <section class="total">
    <div class="row2">
      <ul>
        <li><a href="icamp.html">Home</a></li>
        <li><a class="active" href="iblog.html">Blog</a></li>
        <li><a href="icourse.html">Courses</a></li>
        <li><a href="ilogin.html">Login</a></li>
        <li><a href="icont.html">Contact</a></li>
    </ul>
    </div>
 
    <div class="home_content">
<div>
  <h2>why to join Innocamp?</h2>
  <iframe width="466" height="241" src="https://www.youtube.com/embed/VRBw4_JV_sU" title="SESSION#11 LATCHING, UNLATCHING AND INTERLOCKING | PLC | SCADA | HMI | VFD | DCS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

      <h4>Innocamp helps the young Indian generation who had benefited nothing from our country’s poor education system
        by providing an intensive industry relevant training on the leading software technologies.</h4>

      <h4>Innocamp program is completely FREE upfront and our students pay zero tuition fee until they land a job. We
        believe everyone should get the right opportunities to learn, hence we do not charge any fees upfront.</h4>

      <h4> Innocamp is not just another training institute where you go learn something and leave forever. Innocamp is a
        community of high performance people who support each other and to win together. Each Innoocamp grad will
        always be in touch with our community and help the new buddies as a way of giving back</h4>

            <form class="chat">
              <div class="messages" id="collabthread">
                <div class="message ng-scope" ng-repeat="m in messages">
                  <div ng-class="(m.direction==1) ? 'in': 'out'" class="out">
  
                    <p>Who is Innocamp for?</p>
                    <date>Tejas</b> Feb 15, 2:30 PM </date>
                  </div>
                </div>
                <div class="message ng-scope" ng-repeat="m in messages">
                  <div ng-class="(m.direction==1) ? 'in': 'out'" class="in">
  
                    <p class="m-0 ng-binding">Anyone who wants to learn Computer Programming and build a good career as a
                      Software Engineer <span class="txt1" style='font-size:25px;'>&#128512;</span>.</p>
                    <date class="ng-binding"><b class="ng-binding">kala</b> Oct 21, 2:32 PM</date>
                  </div>
                </div>
                <div class="message ng-scope" ng-repeat="m in messages">
                  <div ng-class="(m.direction==1) ? 'in': 'out'" class="out">
  
                    <p class="m-0 ng-binding">Do I need any prior knowledge/ experience in computer programming to join
                      Innocamp?</p>
                    <date class="ng-binding"><b class="ng-binding">Tejas</b> Oct 21, 2:32 PM </date>
                  </div>
                </div>
                <div class="message ng-scope" ng-repeat="m in messages">
                  <div ng-class="(m.direction==1) ? 'in': 'out'" class="in">
  
                    <p class="m-0 ng-binding">No, you don’t require any prior knowledge / experience in computer
                      programming <span class="txt1" style='font-size:30px;'>&#128512;</span>.</p>
                    <date class="ng-binding"><b class="ng-binding">kala</b> Oct 21, 2:32 PM</date>
                  </div>
                </div>
  
  
  
                <div class="message ng-scope" ng-repeat="m in messages">
                  <div ng-class="(m.direction==1) ? 'in': 'out'" class="in">
  
                    <p class="m-0 ng-binding">But you must be ready to learn it. 
                      <span class="txt1" style='font-size:25px;'>&#128512;</span></p>
                    <date class="ng-binding"><b class="ng-binding">kala</b> Oct 21, 2:32 PM</date>
                  </div>
                </div>
  
  
  
                <div class="message ng-scope" ng-repeat="m in messages">
                  <div ng-class="(m.direction==1) ? 'in': 'out'" class="out">
  
                    <p class="m-0 ng-binding">Do I need a degree to join Innocamp?</p>
                    <date class="ng-binding"><b class="ng-binding">Tejas</b> Oct 21, 2:32 PM</date>
                  </div>
                </div>
  
  
                <div class="message ng-scope" ng-repeat="m in messages">
                  <div ng-class="(m.direction==1) ? 'in': 'out'" class="in">
  
                    <p class="m-0 ng-binding">No, you don’t need any degree or educational qualifications <span
                        class="txt1" style='font-size:30px;'>&#128512;</span>.</p>
                    <date class="ng-binding"><b class="ng-binding">kala</b> Oct 21, 2:32 PM</date>
                  </div>
                </div>
              </div>
              </section>
</body>
</html>