/* *{
  margin: 0px;
  padding: 0px;
} */

#header{
    text-align: center;
  }
  .total{
    display: flex;
    justify-content: flex-start;
  }
  .home_content{
    padding-top: 9em;
    text-align: center;
    padding-left: 16em;
  }

  .row1{
    position: fixed;
    background-color: #ffffff;
  }
  
  .row2{
    position: fixed;
    background-color: #ffffff;
    margin-top:120px;
  }
  
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 120px;
    background-color: #f1f1f1;
  }
  li a {
    display: block;
    color: #000;
    padding: 20px 16px;
    text-align: center;
    text-decoration:none;
    font-size: x-large;
  }
  
  /* Change the link color on hover */
li a:hover {
    background-color: #fad390;
    color: #fff;
  }
  li a.active {
    background-color: #ffb444;
    color: white;
  }
  .icon {
    margin-right: 10px;
  }
  
  iframe {
    align-items: flex-end;
  }
  
  /*------------------------- course ---------------------------------------------*/

.unit-4 {
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    transition: .3s all ease;
    position: relative;
    top: 0; }

    .unit-4 h3 {
      font-size: 16px;
      color: #000;
      transition: .3s all ease; }
  .unit-4 h2 {
  
    color: #000;
    transition: .3s all ease; }
    .unit-4 p {
      font-weight: 300;
      font-size: 15px;
      transition: .3s all ease; }
    .unit-4 *:last-child {
      margin-bottom: 0; }
    .unit-4:hover {
     
      background: #ffb444;
      box-shadow: 0 4px 20px -5px rgba(210, 210, 0, 0.4);
      top: -7px; }
      .unit-4:hover h3,.unit-4:hover h2 {
        color: #fff; }
      .unit-4:hover p {
        font-weight: 300;
        color: rgba(255, 255, 255, 0.7); }
        .unit-4:hover p a {
          color: #fff; }
  